{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'contact.css' %}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>Biz bilan bog'lanish</title>
  <link rel="icon" type="image/x-icon" href="https://e7.pngegg.com/pngimages/167/222/png-clipart-telephone-call-computer-icons-symbol-telephone-icon-miscellaneous-logo-thumbnail.png">
  <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
</head>
<body>
  <section>
    <div class="section-header">
      <div class="container">
        <h2>Biz bilan bog'lanish</h2>
        <p>Biz bilan bog'lanish uchun pasdagi manbalarning biridan foydalaning</p>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-home"></i>
            </div>

            <div class="contact-info-content">
              <h4>Address</h4>
              <p>Hech Qayer<br/> Odam yoq<br/>1</p>
            </div>
          </div>

          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-phone"></i>
            </div>

            <div class="contact-info-content">
              <h4>Phone</h4>
              <p>+998001234567</p>
            </div>
          </div>

          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-envelope"></i>
            </div>

            <div class="contact-info-content">
              <h4>Email</h4>
             <p>nono@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>